/* https://www.frontendmentor.io/profile/inamfalahuddin/solutions
   v1.0 | 201110057
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

html {
  font-size: 12px;
  font-family: 'Spartan', sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
}

@media screen and (min-width: 1700px) {
  body {
    width: 1700px;
    margin: auto;
  }
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6 {
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.container {
  width: 85%;
  margin: auto;
}

h1 {
  line-height: 1.3em;
}

p {
  line-height: 1.6em;
  color: #a1a1a1;
}

a {
  position: relative;
  z-index: 60px;
}

nav {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 5;
}

nav .container {
  width: 95%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 769px) {
  nav .container {
    width: 90%;
    height: 120px;
  }
}

nav .container .nav-hamburger-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20px;
  height: 12px;
  cursor: pointer;
  z-index: 6;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  nav .container .nav-hamburger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

nav .container .nav-hamburger-menu > span {
  width: 100%;
  height: 2px;
  background-color: white;
  -webkit-transform-origin: 2.1px 1.3px;
          transform-origin: 2.1px 1.3px;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

nav .container .nav-hamburger-menu.open > span:first-child {
  background-color: black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .container .nav-hamburger-menu.open > span:nth-child(2) {
  background-color: black;
  opacity: 0;
}

nav .container .nav-hamburger-menu.open > span:last-child {
  background-color: black;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

nav .container .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: white;
  padding-left: 5%;
  -webkit-transform: translateX(-800px);
          transform: translateX(-800px);
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@media screen and (min-width: 769px) {
  nav .container .nav-links {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translate(0);
            transform: translate(0);
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    opacity: 1;
    padding-left: 40px;
    background-color: transparent;
  }
}

nav .container .nav-links.open {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

nav .container .nav-links li {
  opacity: 0;
}

@media screen and (min-width: 769px) {
  nav .container .nav-links li {
    opacity: 1;
  }
  nav .container .nav-links li a {
    padding: 0 20px;
    color: white;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
  nav .container .nav-links li a:hover {
    font-weight: 600;
  }
}

nav .container .nav-logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (min-width: 769px) {
  nav .container .nav-logo {
    width: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.nav-background-overlay {
  z-index: 3;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: none;
}

.nav-background-overlay.overlay-in {
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-animation: overlay-in .2s ease-in-out forwards;
          animation: overlay-in .2s ease-in-out forwards;
}

@media screen and (min-width: 769px) {
  .nav-background-overlay.overlay-in {
    background-color: transparent;
  }
}

.nav-background-overlay.overlay-out {
  display: block;
  -webkit-animation: overlay-out .4s ease-in-out forwards;
          animation: overlay-out .4s ease-in-out forwards;
}

.main {
  width: 100%;
}

.jumbotron {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "jumbotron-header" "jumbotron-footer";
}

.jumbotron .jumbotron-hero-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: jumbotron-header;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "hero-image" "hero-text";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media screen and (min-width: 769px) {
  .jumbotron .jumbotron-hero-header {
        grid-template-areas: 'hero-image hero-text';
    -ms-grid-columns: 837px 1fr;
        grid-template-columns: 837px 1fr;
  }
}

.jumbotron .jumbotron-hero-header .jumbotron-hero-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: hero-image;
  height: 357px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .jumbotron-hero-header .jumbotron-hero-image.image-fade-in {
  -webkit-animation: 1s ease normal transition-image;
          animation: 1s ease normal transition-image;
}

@media screen and (min-width: 769px) {
  .jumbotron .jumbotron-hero-header .jumbotron-hero-image {
    height: 530px;
  }
}

.jumbotron .jumbotron-hero-header .jumbotron-hero-image .hero-image-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 357px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (min-width: 769px) {
  .jumbotron .jumbotron-hero-header .jumbotron-hero-image .hero-image-pagination {
    height: 530px;
  }
}

.jumbotron .jumbotron-hero-header .jumbotron-hero-image .hero-image-pagination .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 769px) {
  .jumbotron .jumbotron-hero-header .jumbotron-hero-image .hero-image-pagination .pagination {
    position: relative;
    left: 200px;
  }
}

.jumbotron .jumbotron-hero-header .jumbotron-hero-image .hero-image-pagination span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  background-color: black;
  z-index: 10;
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  .jumbotron .jumbotron-hero-header .jumbotron-hero-image .hero-image-pagination span {
    width: 100px;
    height: 80px;
  }
}

.jumbotron .jumbotron-hero-header .jumbotron-hero-image .hero-image-pagination span img {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.jumbotron .jumbotron-hero-header .jumbotron-hero-image .hero-image-pagination span:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.jumbotron .jumbotron-hero-header .jumbotron-hero-text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: hero-text;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.16em;
}

.jumbotron .jumbotron-hero-header .jumbotron-hero-text.text-fade-in {
  -webkit-animation: 1s ease normal transition-content;
          animation: 1s ease normal transition-content;
}

.jumbotron .jumbotron-hero-header .jumbotron-hero-text .container {
  padding: 70px 70px;
}

@media screen and (min-width: 769px) {
  .jumbotron .jumbotron-hero-header .jumbotron-hero-text .container {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .jumbotron .jumbotron-hero-header .jumbotron-hero-text .container .container-text {
    padding: 20px;
  }
}

.jumbotron .jumbotron-hero-header .jumbotron-hero-text .jumbotron-hero-text-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 5;
  position: relative;
  color: black;
}

.jumbotron .jumbotron-hero-header .jumbotron-hero-text .jumbotron-hero-text-arrow:hover {
  color: #a1a1a1;
}

.jumbotron .jumbotron-hero-header .jumbotron-hero-text .jumbotron-hero-text-arrow p {
  letter-spacing: 10px;
  color: black;
}

.jumbotron .jumbotron-hero-header .jumbotron-hero-text .jumbotron-hero-text-arrow p:hover {
  color: #a1a1a1;
}

.jumbotron .jumbotron-hero-header .jumbotron-hero-text .jumbotron-hero-text-arrow img {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  margin-left: 50px;
}

.jumbotron .jumbotron-hero-header .jumbotron-hero-text .jumbotron-hero-text-arrow:hover img {
  margin-left: 65px;
}

.jumbotron .jumbotron-hero-footer {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: jumbotron-footer;
  height: 810px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'footer-left' 'footer-center' 'footer-right';
  -ms-grid-rows: 300px 300px 224px;
      grid-template-rows: 300px 300px 224px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media screen and (min-width: 769px) {
  .jumbotron .jumbotron-hero-footer {
        grid-template-areas: 'footer-left footer-center footer-right';
    -ms-grid-columns: 420px 1fr 420px;
        grid-template-columns: 420px 1fr 420px;
    height: 267px;
  }
}

.jumbotron .jumbotron-hero-footer .hero-footer-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: footer-left;
  background-image: url(/images/image-about-dark.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 267px;
}

.jumbotron .jumbotron-hero-footer .hero-footer-center {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: footer-center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 267px;
  font-size: 1.1em;
}

.jumbotron .jumbotron-hero-footer .hero-footer-center .hero-footer-center-content {
  padding: 70px 40px;
}

.jumbotron .jumbotron-hero-footer .hero-footer-center h4 {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.jumbotron .jumbotron-hero-footer .hero-footer-right {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer-right;
  background-color: saddlebrown;
  background-image: url(/images/image-about-light.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 267px;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes overlay-in {
  from {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
  0% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes overlay-in {
  from {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
  0% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@-webkit-keyframes overlay-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  90% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes overlay-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  90% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@-webkit-keyframes transition-image {
  0% {
    background-position: 500px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes transition-image {
  0% {
    background-position: 500px;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes transition-content {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes transition-content {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */